.navigation {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}
.link {
  display: block;
  font-size: 18px;
}
.active {
  display: block;
  color: #d90166;
  text-decoration: underline;
}
